.Body{
 background-color: lightgray; 
 font-family:'Courier New', Courier, monospace; 
 display:flex;
 flex-direction: column; 
 margin:auto;
 align-items: center;
 justify-content: center;
}
.top{
    text-align: center;
    color: coral;
}
.photo{
    width: 600px;
    margin-bottom: 20px;
    background-color: coral;
}
.img{
    width: 600px;
    height:300px;
    object-fit: contain;
}
.photo h3, p{
    padding: 5px;
}
.date{
    float: right;
    margin-right: 20px;
}
.title{
    float: left;
    margin: left 20px;
}